<%= form_with(model: paliwo, local: true) do |form| %>
  <% if paliwo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paliwo.errors.count, "error") %> prohibited this paliwo from being saved:</h2>

      <ul>
      <% paliwo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :paliwo_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
