<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
<strong>Category:</strong>
<%= @car.category.name %>
</p>
<p>
  <strong>Body:</strong>
  <%= @car.body %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
